In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta.tables import *
from delta import *
import pyspark.sql.functions as PSF
import psycopg2
import pandas as pd
import os

In [8]:
env_vars = !cat Script/.env
for var in env_vars:
    key, value = var.split('=')
    os.environ[key] = value

/Users/renabouj/Downloads/postgresql-42.3.5.jar

In [9]:
builder = pyspark.sql.SparkSession.builder.appName("PySpark_Postgres_test").config("spark.jars", os.environ.get('SPARKJAR')).config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension").config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog").master("local").appName("PySpark_Postgres_test")

spark = configure_spark_with_delta_pip(builder).getOrCreate()

22/05/16 17:25:10 WARN Utils: Your hostname, MacBook-Pro-de-Renato.local resolves to a loopback address: 127.0.0.1; using 10.0.0.102 instead (on interface en0)
22/05/16 17:25:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/Users/renabouj/Codes/tendenciasSI/env/lib/python3.9/site-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/renabouj/.ivy2/cache
The jars for the packages stored in: /Users/renabouj/.ivy2/jars
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-4c4841db-1253-4d00-a36c-25d1e103bc49;1.0
	confs: [default]
	found io.delta#delta-core_2.12;1.2.1 in central
	found io.delta#delta-storage;1.2.1 in central
	found org.antlr#antlr4-runtime;4.8 in central
	found org.codehaus.jackson#jackson-core-asl;1.9.13 in central
:: resolution report :: resolve 216ms :: artifacts dl 7ms
	:: modules in use:
	io.delta#delta-core_2.12;1.2.1 from central in [default]
	io.delta#delta-storage;1.2.1 from central in [default]
	org.antlr#antlr4-runtime;4.8 from central in [default]
	org.codehaus.jackson#jackson-core-asl;1.9.13 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   0   |   0   |   0   ||   4   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-4c4841db-1253-4d00-a36c-25d1e103bc49
	confs: [default]
	0 artifacts copied, 4 already retrieved (0kB/6ms)
22/05/16 17:25:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [10]:
dataf = spark.read.format("jdbc").option("url", os.environ.get('DB_CONNECTION_STRING')) \
    .option("driver", "org.postgresql.Driver").option("dbtable", "sales2") \
    .option("user", os.environ.get('USER')).option("password", os.environ.get('PASSWORD')).load()

In [12]:
dataf.where(dataf.Order_ID == 451691138).show()

+--------------------+---------+---------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+
|              Region|  Country|Item_Type|Sales_Channel|Order_Priority|Order_Date| Order_ID|Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|
+--------------------+---------+---------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+
|Australia and Oce...|Australia|     Meat|       Online|             C|  4/4/2011|451691138|5/23/2011|      3300|       500|      364|      1814127|   1568167|      245960|
+--------------------+---------+---------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+

In [3]:
dataf = spark.read.format("csv").option("delimiter", ",").option("header", "true").option("inferSchema", "true") \
        .load("data/200ksales.csv")
dataf.show()

+--------------------+--------------------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|             Country|    Item_Type|Sales_Channel|Order_Priority|Order_Date| Order_ID| Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|
+--------------------+--------------------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Australia and Oce...|           Australia|         Meat|       Online|             C|  4/4/2011|451691138| 5/23/2011|      4300|       421|      364|      1814127|   1568167|      245960|
|                Asia|          Tajikistan|Personal Care|       Online|             L| 7/12/2018|144177377|  8/1/2018|      4145|        81|       56|       338770|    234897|      103873|
|  Sub-Saharan Africa|          Mozambique|    Cosmetics|       Online|             H|  7/6/2011|982716166| 7/17/2011|      6407|       437|      263|      2801140|   1687155|     1113985|
|Central America a...|              Panama|Personal Care|      Offline|             L|  5/1/2011|784543836| 5/11/2011|      2810|        81|       56|       229661|    159242|       70418|
|       North America|              Canada|       Fruits|       Online|             H|11/15/2013|137209212|12/29/2013|      2110|         9|        6|        19686|     14601|        5085|
|              Europe|               Italy|       Fruits|      Offline|             C| 7/16/2016|148573625| 7/18/2016|      5092|         9|        6|        47508|     35236|       12271|
|              Europe|             Romania|    Beverages|      Offline|             C|11/15/2012|196810901| 12/1/2012|      9574|        47|       31|       454286|    304357|      149928|
|Australia and Oce...|           Australia|    Cosmetics|      Offline|             L| 4/30/2019|180407369| 5/25/2019|      5404|       437|      263|      2362628|   1423035|      939593|
|              Europe|Bosnia and Herzeg...|    Cosmetics|      Offline|             C| 5/29/2016|968161857|  6/8/2016|      9463|       437|      263|      4137223|   2491891|     1645331|
|                Asia|               Japan|      Clothes|       Online|             M| 3/25/2018|349185693|  4/8/2018|       661|       109|       35|        72234|     23690|       48543|
|Australia and Oce...|    Papua New Guinea|    Beverages|       Online|             H| 8/28/2013|682902705| 9/18/2013|      4941|        47|       31|       234450|    157074|       77376|
|  Sub-Saharan Africa|          Madagascar|       Fruits|       Online|             L| 6/17/2014|349049222| 7/10/2014|       276|         9|        6|         2575|      1909|         665|
|Central America a...|Saint Kitts and N...|Personal Care|       Online|             H|11/11/2017|497674071|11/16/2017|      1672|        81|       56|       136652|     94752|       41900|
|              Europe|            Slovakia|         Meat|       Online|             M|11/26/2011|999138581|12/10/2011|      6164|       421|      364|      2600529|   2247949|      352580|
|  Sub-Saharan Africa|             Eritrea|         Meat|      Offline|             H| 11/9/2012|894116580|12/13/2012|      7820|       421|      364|      3299179|   2851875|      447304|
|  Sub-Saharan Africa|            Botswana|       Cereal|       Online|             M| 2/11/2017|643594396| 2/24/2017|      2739|       205|      117|       563412|    320764|      242648|
|Australia and Oce...|Federated States ...|    Household|      Offline|             C| 3/25/2017|778870856|  5/3/2017|      4049|       668|      502|      2705825|   2034784|      671040|
|                Asia|          Uzbekistan|         Meat|      Offline|             M|12/11/2017|551557290|12/20/2017|      6914|       421|      364|      2916947|   2521466|      395480|
|Middle East and N...|              Jordan|    Beverages|      Offline|             M| 2/29/2020|183577525| 3/13/2020|      3524|        47|       31|       167213|    112027|       55185|
|Australia and Oce...|Federated States ...|       Snacks|      Offline|             H|  8/6/2015|417167890|  8/8/2015|      8104|       152|       97|      1236508|    789653|      446854|
+--------------------+--------------------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

In [4]:
dataf.columns

['Region',
 'Country',
 'Item_Type',
 'Sales_Channel',
 'Order_Priority',
 'Order_Date',
 'Order_ID',
 'Ship_Date',
 'Units_Sold',
 'Unit_Price',
 'Unit_Cost',
 'Total_Revenue',
 'Total_Cost',
 'Total_Profit']

In [5]:
dataf.count()

254160

In [17]:
lista_de_colunas_inteiro = ["Units_Sold", "Unit_Price", "Unit_Cost", "Total_Revenue", "Total_Cost", "Total_Profit"]

In [27]:
def convert_data_types(df):
    df = df.withColumn("Units_Sold", df.Units_Sold.cast('bigint'))
    df = df.withColumn("Unit_Price", df.Unit_Price.cast('bigint'))
    df = df.withColumn("Unit_Cost", df.Unit_Cost.cast('bigint'))
    df = df.withColumn("Total_Revenue", df.Total_Revenue.cast('bigint'))
    df = df.withColumn("Total_Cost", df.Total_Cost.cast('bigint'))
    df = df.withColumn("Total_Profit", df.Total_Profit.cast('bigint'))
    return df

In [9]:
def convert_data_types(df, columns_list):
    for column_name in columns_list:
        df.select(PSF.col(column_name).cast('bigint').alias(column_name))
    return df

In [10]:
convert_data_types(dataf, lista_de_colunas_inteiro)

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Sales_Channel: string (nullable = true)
 |-- Order_Priority: string (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Ship_Date: string (nullable = true)
 |-- Units_Sold: integer (nullable = true)
 |-- Unit_Price: integer (nullable = true)
 |-- Unit_Cost: integer (nullable = true)
 |-- Total_Revenue: integer (nullable = true)
 |-- Total_Cost: integer (nullable = true)
 |-- Total_Profit: integer (nullable = true)

None

DataFrame[Region: string, Country: string, Item_Type: string, Sales_Channel: string, Order_Priority: string, Order_Date: string, Order_ID: int, Ship_Date: string, Units_Sold: int, Unit_Price: int, Unit_Cost: int, Total_Revenue: int, Total_Cost: int, Total_Profit: int]

In [12]:
dataf.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Sales_Channel: string (nullable = true)
 |-- Order_Priority: string (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Ship_Date: string (nullable = true)
 |-- Units_Sold: integer (nullable = true)
 |-- Unit_Price: integer (nullable = true)
 |-- Unit_Cost: integer (nullable = true)
 |-- Total_Revenue: integer (nullable = true)
 |-- Total_Cost: integer (nullable = true)
 |-- Total_Profit: integer (nullable = true)

In [14]:
%timeit
def save_data_to_database(df, dbname: str, overwrite: bool):
    if overwrite:
        df.write.format("jdbc").option("driver", "org.postgresql.Driver").option("url", os.environ.get('DB_CONNECTION_STRING')) \
        .option("dbtable", dbname).option("user", os.environ.get('USER')).option("password", os.environ.get('PASSWORD')) \
        .mode("overwrite").save()
        
        return print("Overwrite done!")
    
    else:
        df.write.format("jdbc").option("driver", "org.postgresql.Driver").option("url", os.environ.get('DB_CONNECTION_STRING')) \
        .option("dbtable", dbname).option("user", os.environ.get('USER')).option("password", os.environ.get('PASSWORD')).save()
        
        return print("Saved without overwrite!")
        
save_data_to_database(dataf, "sales", True)

Overwrite done!

In [14]:
spa = spark.read.format("jdbc").option("url", os.environ.get('DB_CONNECTION_STRING')) \
    .option("driver", "org.postgresql.Driver").option("dbtable", "sales3") \
    .option("user", os.environ.get('USER')).option("password", os.environ.get('PASSWORD')).load()

In [15]:
spa.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Sales_Channel: string (nullable = true)
 |-- Order_Priority: string (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Order_ID: string (nullable = true)
 |-- Ship_Date: string (nullable = true)
 |-- Units_Sold: string (nullable = true)
 |-- Unit_Price: string (nullable = true)
 |-- Unit_Cost: string (nullable = true)
 |-- Total_Revenue: string (nullable = true)
 |-- Total_Cost: string (nullable = true)
 |-- Total_Profit: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)

In [16]:
spa.count()

254160